@font-face {
    font-family: 'fff_tusjbold';
    src: url('police/FFF_Tusj-webfont.eot');
    src: url('police/FFF_Tusj-webfont.eot?#iefix') format('embedded-opentype'),
         url('police/FFF_Tusj-webfont.woff2') format('woff2'),
         url('police/FFF_Tusj-webfont.woff') format('woff'),
         url('police/FFF_Tusj-webfont.ttf') format('truetype'),
         url('police/FFF_Tusj-webfont.svg#fff_tusjbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: '3dumbregular';
    src: url('police/3Dumb-webfont.eot');
    src: url('police/3Dumb-webfont.eot?#iefix') format('embedded-opentype'),
         url('police/3Dumb-webfont.woff2') format('woff2'),
         url('police/3Dumb-webfont.woff') format('woff'),
         url('police/3Dumb-webfont.ttf') format('truetype'),
         url('police/3Dumb-webfont.svg#3dumbregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'action_man_extendedregular';
    src: url('police/Action_Man_Extended-webfont.eot');
    src: url('police/Action_Man_Extended-webfont.eot?#iefix') format('embedded-opentype'),
         url('police/Action_Man_Extended-webfont.woff2') format('woff2'),
         url('police/Action_Man_Extended-webfont.woff') format('woff'),
         url('police/Action_Man_Extended-webfont.ttf') format('truetype'),
         url('police/Action_Man_Extended-webfont.svg#action_man_extendedregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


body 
{
	margin:0;
	padding:0;

	background: black;


}


h1
{


	font-family: '3dumbregular';
	color:white;
	text-align:center;
	font-size:566%;
	margin-top:9%;
	animation:tada 10s infinite;
}

h2
{
	font-family: 'fff_tusjbold';
	padding-left:61%;
	margin-top:-3%;
	color:white;
}

p
{
	color:white;
}

img
{

	 animation: anim 5s ;
	margin-top: -50%;
}

img:hover
{

	 animation: anim2 5s ;
	 

	margin-top: -100%;
}

div.taille {
	position:fixed;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);

}
div.contain
{

	width: 798px;
	height: 798px;
	background-image: url(../img/fond-solo.png);

	background-image:50%;

}

#a
{ 
	display: block;
	background-color: rgba(0,0,0,.3);
	max-width:100%;
	margin-left:10%;
	margin-right:8%;
	padding:1%;
	margin-top: 8%;
	font-family: 'action_man_extendedregular';

height: 28px;

text-align:center;
font-size:78%;
border-radius:25px;

}

#b
{
	font-family: 'action_man_extendedregular';
border:2px dashed white;
padding:1%;
	text-align:center;
	font-size:110%;
 width:39%;
margin-top: -2%;
	margin-left:30%;


}

#c
{
	font-family: 'action_man_extendedregular';

	text-align:center;
	font-size:80%;

	margin-left:52%;


}

#d
{
	width:30%;
	font-family: 'action_man_extendedregular';
border:1px solid black;
background-color:rgba(255,255,255,.2);
border-radius:10px;
padding:1%;
	text-align:center;
	font-size:62%;
 margin-top:2%;
	margin-left:65%;


}

